<h2 class="text-center">Youtube</h2>
<div class="container">

    <form action="/yt" method="POST">
        <div class="row">
            <div class="col-md-6">
                <input name="recherche" type="text" class="form-control" placeholder="Votre recherche">
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary">OK</button>
            </div>
        </div>
    </form>
    <div class="row">
        {{#each data}}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ this.thumbnails.default.url }}" alt="">
            <div class="card-body">
                <h5 class="card-title">{{ this.title }}</h5>
                <p class="card-text">{{ this.description}}</p>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#videoModal">Voir
                    Vidéo</button>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-0">
                        <div class="ratio ratio-16x9">
                            <iframe src="//www.youtube.com/embed/{{this.id}}" allowfullscreen="" frameborder="0" height="315" width="100%"></iframe>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        {{/each}}
    </div>
</div>

<